frr defaults datacenter
  username cumulus nopassword
  !
  service integrated-vtysh-config
  !
  log syslog informational
  !
  vrf RED
   vni {{ node[inventory_hostname]["l3vni_red"]["vxlan_id"] }}
   exit-vrf
  vrf BLUE
   vni {{ node[inventory_hostname]["l3vni_blue"]["vxlan_id"] }}
   exit-vrf
  !
  {% for interface in node[inventory_hostname]["bgp"]["neighbors_evpn"] -%}
  interface {{ interface }}
   ipv6 nd ra-interval 10
   no ipv6 nd suppress-ra
  {% endfor %}
  !
  {% for interface in node[inventory_hostname]["subinterfaces_red"] -%}
  interface {{ interface }}
   ipv6 nd ra-interval 10
   no ipv6 nd suppress-ra
  {% endfor %}
  !
  {% for interface in node[inventory_hostname]["subinterfaces_blue"] -%}
  interface {{ interface }}
   ipv6 nd ra-interval 10
   no ipv6 nd suppress-ra
  {% endfor %}
  !
  router bgp {{ node[inventory_hostname]["bgp"]["as"] }}
   bgp router-id {{ node[inventory_hostname]["loopback"]["ip"] }}
   bgp bestpath as-path multipath-relax
   {% for interface in node[inventory_hostname]["bgp"]["neighbors_evpn"] -%}
   neighbor {{ interface }} interface remote-as external
   {% endfor %}
   !
   address-family ipv4 unicast
    network {{ node[inventory_hostname]["loopback"]["ip"] }}/32
    network {{ node[inventory_hostname]["loopback"]["clag_anycast"] }}/32
   exit-address-family
   !
   address-family l2vpn evpn
    {% for interface in node[inventory_hostname]["bgp"]["neighbors_evpn"] -%}
    neighbor {{ interface }} activate
    {% endfor %}
   advertise-all-vni
   exit-address-family
  !
  router bgp {{ node[inventory_hostname]["bgp"]["as"] }} vrf RED
   bgp router-id {{ node[inventory_hostname]["loopback"]["ip"] }}
   aggregate-address 10.1.1.0/24 summary-only
   {% for interface in node[inventory_hostname]["subinterfaces_red"] -%}
   neighbor {{ interface }} interface remote-as external
   {% endfor %}
   !
   address-family l2vpn evpn
    default-originate ipv4
   exit-address-family
  !
  router bgp {{ node[inventory_hostname]["bgp"]["as"] }} vrf BLUE
   bgp router-id {{ node[inventory_hostname]["loopback"]["ip"] }}
   aggregate-address 10.2.2.0/24 summary-only
   aggregate-address 10.2.25.0/24 summary-only
   {% for interface in node[inventory_hostname]["subinterfaces_blue"] -%}
   neighbor {{ interface }} interface remote-as external
   {% endfor %}
   !
   address-family l2vpn evpn
    default-originate ipv4
   exit-address-family
  !
  line vty
  !