auto lo
iface lo inet loopback
  address {{ node[inventory_hostname]["loopback"]["ip"] }}/32

auto vagrant
iface vagrant inet dhcp

auto eth0
iface eth0 inet dhcp

auto swp1
iface swp1
    alias {{ node[inventory_hostname]["swp1"]["description"] }}

auto swp2
iface swp2
    alias {{ node[inventory_hostname]["swp2"]["description"] }}

{%- for ports in node[inventory_hostname]["subinterfaces_red"] %}


auto {{ ports }}
iface {{ ports }}
vrf RED
{%- endfor %}

{%- for ports in node[inventory_hostname]["subinterfaces_blue"] %}


auto {{ ports }}
iface {{ ports }}
vrf BLUE
{%- endfor %}

auto bridge
iface bridge
  bridge-vlan-aware yes
  # bridge-ports includes all ports related to VxLAN and CLAG.
  # does not include the Peerlink.4094 subinterface
  bridge-ports {%- for ports in node[inventory_hostname]["bridge"]["ports"] %} {{ ports }}
  {%- endfor %}
  
  bridge-vids {%- for vids in node[inventory_hostname]["bridge"]["vlans"] %} {{ vids }}
  {%- endfor %}
  
  bridge-pvid 1

auto RED
iface RED
    vrf-table auto

auto BLUE
iface BLUE
    vrf-table auto