auto lo
iface lo inet loopback
  address {{ node[inventory_hostname]["loopback"]["ip"] }}/32

auto vagrant
iface vagrant inet dhcp

auto eth0
iface eth0 inet dhcp

auto swp1
iface swp1
    alias {{ node[inventory_hostname]["swp1"]["description"] }}

auto swp2
iface swp2
    alias {{ node[inventory_hostname]["swp2"]["description"] }}

auto swp3
iface swp3
    alias {{ node[inventory_hostname]["swp3"]["description"] }}

auto swp4
iface swp4
    alias {{ node[inventory_hostname]["swp4"]["description"] }}

auto swp30
iface swp30
    alias {{ node[inventory_hostname]["swp30"]["description"] }}

auto swp29
iface swp29
    alias {{ node[inventory_hostname]["swp29"]["description"] }}